body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

}

nav {
  background-color: #484848;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 5% 0 5%;
}

.main-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #FF9200;
  height: 100%;
  width: 70%;
  gap: 2%;
  border-radius: 16px;
  padding-bottom: 1%;
  text-align: center;
}

.food-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1%;
}

.card-food {
  background-color: #fafafa;
  height: 48vh;
  width: 95%;
  border-radius: 16px;
  overflow: scroll;
}

.card-food-content {
  margin: 5%;
  text-align: center;
}

.card-food-check {
  width: 10%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-food-title {
  color: #fafafa;
  font-size: 30px;
  margin-bottom: 1%;
}

.card-food-text {
  display: flex;
  flex-direction: column;
}

.card-food-text h4,
.card-food-text p {
  margin: 2.5% 0 2.5% 0;
  width: 30vw;
  text-align: start;
}

.search-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.input-search {
  padding: 20px;
  background-color: #fafafa;
  margin: 4%;
  border: none;
  width: 67%;
  border-radius: 32px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.btn-add-food{
  background-color: #FF9200;
  border: none;      
  width: 50px; 
  height: 50px;
  border-radius: 25px;
  font-size: 23px;
}

.card-food-top{
  background-color: #fafafa;
  width: 95%;
  margin: 5%;
  padding: 2.5%;
  border-radius: 16px;
}

.card-food-top input{
  background-color: #fafafa;
  border: none;
}

.form-group__file {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 130px;
  height: 180px;
}

.file-label {
  margin: 10px 0;
}

.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 130px;
  height: 180px;
  cursor: pointer;
  z-index: 100;
}

.file-preview-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 140px;
  background-color: #f7f7f7;
  border: 2px dashed #dfdfdf;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.file-preview {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 46px;
  left: 8px;
  border-radius: 65px;
  z-index: 10;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.input-foto{
  width: 100%;
}